{% extends 'base.html.twig'  %}

{% block title %}HomeController{% endblock %}

{% block body %}
    <div class="container-fluid mt-100 p-0">
        {% include 'home/welcome.html.twig' %}
        {% include 'home/realisations.html.twig' %}
        {% include 'home/actualites.html.twig' %}
    </div>
{% endblock %}