<div class="section1 w-100 d-flex align-items-center justify-content-center" style="background-image: url(/images/oeuvres/peinture1.PNG)">
    <div class="container-section1">
        <h2>Antoine Bernabeu</h2>
        <p>Artiste Peintre à Chomérac, au coeur d'Ardèche</p>
        <button class="btn btn-primary p-2">
            <a href="" class="text-white text-decoration-none">
                <span>Découvrir mon portfolio  </span>
                <span>  <i class="bi bi-arrow-right-short"></i></span>
            </a>
        </button>
    </div>
</div>