<footer>
    <div class="container-fluid py-3">
        <div class="container-footer my-3 d-flex justify-content-center">
            <div class="description-site">
                <img src="{{ asset('images/template/logo.svg') }}" alt="">
                <p>Artiste Peintre</p>
            </div>
            <div class="menu">
                <p class="thead">MENU</p>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Réalisations</a>
                    </li>
                    <li>
                        <a href="">Actualités</a>
                    </li>
                    {#
                    <li class="dropdown">
                        <a href="#">
                            <span>Portfolio</span> 
                            <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li><a href="gallery.html">Categorie 1</a></li>
                            <li><a href="gallery.html">Categorie 2</a></li>
                        </ul>
                    </li>
                    #}
                    <li class="dropdown">
                        <a href="#">Portfolio</a>
                    </li>
                    <li><a href="services.html" class="active">A propos</a></li>
                    <li><a href="services.html" class="active">Me contacter</a></li>
                </ul>
            </div>
            <div class="info">
                <p class="thead">INFORMATIONS</p>
                <p>Artiste Peintre à Chomerac au coeur de l'Ardèche</p>
                <p>Je réalise mes peinture à l'aquarelle directement à l'atelier ou  en plein nature!</p>
            </div>
            <div class="mention-legale">
                <p class="thead">MENTIONS LEGALES</p>
                <p>Légale mentioned</p>
            </div>
        </div>
    </div>
</footer>